{% extends "base.html" %}
{% block content %}

<!-- https://docs.djangoproject.com/en/4.0/topics/forms/ -->

<!-- Page background -->
<div class="overlay-world"></div>
<div id="contact-form-container" class="container">
    <div class="row">
        <div class="col dark-blue-font">
            <!-- Page Title -->
            <h2 class="mt-4 mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>
    <form action="{% url 'contact' %}" method="post" class="mx-0 px-0">
        <!-- Django Token -->
        {% csrf_token %}
        <fieldset class="rounded mx-0 mb-5">            
            <div id="form-left-1" class="col-12 mx-0 px-0">
                {{ form.full_name.errors }}
                {{ form.full_name | as_crispy_field }}
            </div>
            <!-- E-mail -->
            <div id="form-left-3" class="col-12 mx-0 px-0">
                {{ form.email.errors }}
                {{ form.email | as_crispy_field  }}
            </div>
            <!-- Description -->
            <div id="form-right-1" class="col-12 mx-0 px-0">
                {{ form.description.errors }}
                {{ form.description | as_crispy_field  }}
            </div>
            <!-- Request user to be authenticated to send a message -->
            {% if request.user.is_authenticated %}
                <div>
                    <button id="send-contact-form-button" class="btn btn-primary rounded-0 text-uppercase mt-5 w-25 float-right">Submit</button>
                    <a href="{% url 'home' %}" id="go-to-home-contact-form-button" class="btn btn-outline-primary rounded-0 mt-5 w-25 float-right">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase btn-outline-primary">Home</span>
                    </a>
                </div>
            {% else %}
                <p class="font-weight-bold mt-4 mb-4 dark-blue-font text-right">Log in to use the form <span><a href="{% url 'account_login' %}" class="btn btn-primary rounded-0">Log In</a></span></p>
            {% endif %}
        </fieldset>       
    </form>
</div>

{% endblock %}