/* CSS File for GDEC Website */

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */


/* FONTS */
/* Google Fonts: Play (Regular 400 and Bold 700) and Roboto (Regular 400) */
/* Import code copied on March 1st, 2022, at 05:05*/
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap');

/* GENERAL STYLES */


html {
    height: 100%;
}

.navbar-toggler {
    font-size: 1.5rem;
}


/* HEADER */

.header-container {
    padding-top: calc(136px + 36.8px);
}

/* Equivalent of marquee tag for HTML5,
https://stackoverflow.com/questions/53632338/what-is-the-equivalent-of-marquee-tag-in-html5;
accessed on March 16th, 2022, at 3:20.*/
.holder {
    height: 25px;
}
.last-news {
    animation : slide 20s linear infinite;
}
@keyframes slide {
    100% {transform: translate(-100%);}
    0% {transform: translate(100%);}
}

/* BODY */

body {
    /* Image created with QGIS, using data from Natural Earth ("Natural Earth quick start kit", 50m raster) */
    background: url('/media/global-map.PNG') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 136px);
    font-family: 'Play', sans-serif;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom:0;
}

.social-contact-links {
    text-align: center;
}

.social-contact-links > li {
    font-size: 200%;
    display: inline;
}

.social-contact-links i {
    /*padding: 1%;*/
}

#contact-link-in-footer {
    font-size: 175%;
}

#privacy-link-in-footer, #cookies-link-in-footer {
    font-size: 125%;
}

#div-for-address-in-footer {
    margin-top: 0;
}

#div-for-privacy-link-in-footer, #div-for-cookies-link-in-footer {
    padding-top: 25px;
}


/* MESSAGES */

/*.toast {
    position: fixed;
    top: 80px;    
    right: 20px;
    z-index: 100000;
    opacity: 100%;
}*/

.message-container {
    position: fixed;
    top: 572px;
    right: 150px;
    z-index: 100000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 20px;
}

.toast-image {
    width: 50%;
    height: 7vw;
    object-fit: contain;
}

/* PRODUCTS */

/* Object-fit property for CSS:
https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width,
accessed on March 3rd, 2022, at 04:25;
and
https://www.w3schools.com/css/css3_object-fit.asp,
accessed on March 3rd, 2022, at 04:27.
*/
.products-card {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.go-to-top-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    border: blue;
}

.go-to-top-button-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.go-to-top-button-link > i{
    color: blue;
}


/* ********* */
/* HOME PAGE */
/* ********* */



/* ************* */
/* MEDIA QUERIES */
/* ************* */


/* FOOTHER ON BIG SCREEN SIZE, HEIGHT ABOVE 1080px */

@media screen and (min-height: 1081px) {



}


/* SCREEN SIZE BELOW 1200px */

@media screen and (max-width: 1200px) {




}


/* SCREEN SIZE BELOW 992px */

@media screen and (max-width: 992px) {

    /* FOOTER */

    footer {
        height: 80px;
    }

   

}


/* SCREEN SIZE BELOW 768px */

@media screen and (max-width: 768px) {

    /* HEADER */

    .header-container {
    padding-top: calc(80px + 36.8px);
    }

    /* FOOTER */

    #div-for-contact-link-in-footer {
        padding-top: 10px;
    }

    footer {
        height: 100px;
    }




    #div-for-privacy-link-in-footer, #div-for-cookies-link-in-footer {
        margin-top: 0;
        padding-top: 0;
    }
    

}


/* SCREEN SIZE BELOW 575px */

@media screen and (max-width: 576px) {

    /* FOOTER */

    footer {
        height: 280px;
        position: static;
    }

    #contact-link-in-footer {
        font-size: 175%;
    }




}