/*
CSS File for the GDEC (Geophysical Data E-Commerce) project
Code Institute - Milestone Project 5
*/

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */


/* FONTS */
/* Google Fonts: Play (Regular 400 and Bold 700) and Roboto (Regular 400) */
/* Import code copied on March 1st, 2022, at 05:05*/
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap');


/* GENERAL STYLES */

html {
    height: 100%;
}

.navbar-toggler {
    font-size: 1.5rem;
}

.dark-blue-font {
    color: rgb(3, 3, 104);
}

.bottom-marging-for-large-screens {
    margin-bottom: 250px;
}

/* HEADER */

#main-header {
    background-color: rgb(213, 234, 247);
}

.header-container {
    padding-top: calc(136px + 36.8px);
}

/* Multiply width by the amount of messages to simulate
they are one "behind" each other, in a row */
#banner-div {
    width: 300%;
}

#cell-phone-icons {
    margin: auto;
}

/* Equivalent of marquee tag for HTML5,
https://stackoverflow.com/questions/53632338/what-is-the-equivalent-of-marquee-tag-in-html5;
accessed on March 16th, 2022, at 3:20.*/

.holder {
    height: 25px;
}

.last-news {
    animation : slide 30s linear infinite;
}

@keyframes slide {
    100% {transform: translate(-300%);}
    0% {transform: translate(100%);}
}

.border {
    border: 1px solid #073f7a!important;
}

#log-in-status-banner, #log-in-status-header {
    color: rgb(11, 11, 204);
}


/* BODY */

body {
    /* Image created with QGIS, using data from Natural Earth ("Natural Earth quick start kit", 50m raster) */
    background: url('/media/global-map.PNG') no-repeat center center fixed;
    background-size: cover;
    /*height: calc(100vh - 136px);*/
    height: 50px;
    font-family: 'Play', sans-serif;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(235, 245, 248);
    z-index: -1;
}


/* FOOTER */

footer {
    width: 100%;
    height: 210px;
    position: fixed;
    bottom:0;
    z-index: 100;
}

#div-for-address-in-footer > p {
    font-size: 85%;
}

.social-contact-links {
    text-align: center;
}

.social-contact-links > li {
    font-size: 200%;
    display: inline;
}

.social-contact-links i {
    /*padding: 1%;*/
}

#div-for-address-in-footer {
    margin-top: 0;
}

#div-for-privacy-link-in-footer, #div-for-cookies-link-in-footer {
    padding-top: 25px;
}

#div-for-website-in-footer {
    padding: 0;
    margin: 0;
}

#contact-link-in-footer,
#div-for-products-in-footer > div > div > div > a,
#div-for-website-in-footer > div > div > div > a,
#div-for-newsletter-in-footer > div > div > div > p {
    font-size: 85%;
}

/* MAILCHIMP */
/* Generated and copied on April 6th, 2022, at 3:10, in Mailchip account (Mailchimp: Marketing,
Automation & Email Platform, https://mailchimp.com) */
/* Begin Mailchimp Signup Form */
#mc_embed_signup{background:rgb(255, 255, 255); clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
/* End mc_embed_signup */

#div-for-newsletter-in-footer > div > div > div:nth-child(4) > p {
    text-align: right;
}

#Mailchimp-newsletter-button {
    display: none;
}


/* MESSAGES */

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 100000000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 20px;
}

.toast-image {
    width: 25%;
    height: 4vw;
    object-fit: contain;
}


/* HOME PAGE */

.navbar-light .navbar-toggler {
    color: #007bff;
    border-color: #007bff;
    background-color: #0083ff52;
}

.navbar-toggler {
    margin-bottom: 5px;
    border: 2px solid #007bff;
    background-color: transparent;
    border-radius: 0.25rem;
}    

#carouselExampleIndicators > div > div > h4 {
    height: 50px;
}

.carousel-inner {
    position: fixed;
    bottom: 275px;
}

.carousel-indicators {
    position: fixed;
    bottom: 255px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    position: fixed;
    bottom: 270px;
}


/* BAG */

.bag-image {
    width: 50%;
    height: 7vw;
    object-fit: contain;
}

.quantity-control-width {
    width: 15%;
}

#shopping-bag-content {
    min-height: 550px;
}


/* PRODUCTS */

/* Object-fit property for CSS:
https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width,
accessed on March 3rd, 2022, at 04:25;
and
https://www.w3schools.com/css/css3_object-fit.asp,
accessed on March 3rd, 2022, at 04:27.
*/

.products-card {
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    object-fit: contain;
}

.product-title-in-card {
    height: 70px;
}

.go-to-top-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 230px;
    right: 50px;
    border: blue;
}

.go-to-top-button-link,
.update-link,
.remove-item,
.update-link-wish-list,
.remove-item-wish-list {
    cursor: pointer;
}

.go-to-top-button-link > i{
    color: blue;
}

.image-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* ALLAUTH FORMS AND PAGES */

.allauth-form-inner-content p {
    margin-top: 1rem;
    color: #3990e7;
}

.allauth-form-inner-content input {
    margin-top: 1rem;
    color: rgb(3, 3, 104);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content {
    margin-bottom: 25px;
    color: rgb(3, 3, 104);
}

#id_remember {
    bottom: 5px;
}

#id_email, #id_email2, #id_username,
#id_password1, #id_password2,
#id_login, #id_password {
    width: 100%;
}


/* PRODUCT DETAILS */

#comment-form {
    display: none;
}


/* PRODUCT MANAGEMENT */

/* from Code Institute */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #774fe6;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #774fe6;
    border-color: #774fe6;
    border-radius: 0;
}
/* end from CI */


/* PROFILE */

#profile-and-history-container {
    padding-bottom: 200px;
}


/* 404 PAGE */

#message-in-404-page {
    padding-top: 200px;
    font-size: 150%;
}

#home-button-in-404 {
    margin-left: 0;
}

.overlay-404 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
    opacity: 0.5;
}


/* GDPR PAGES */

.overlay-GDPR {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(176, 215, 250);
    z-index: -1;
}


/* CONTACT */

.overlay-world {
    height: 100%;
    width: 100%;    
    top: 0;
    left: 0;
    position: fixed;
    background: url('/media/overlay-world-blue-2.PNG') center fixed;
    z-index: -1;
}

#contact-form-container {
    margin-top: 200px;
    padding-bottom: 250px;
}

/* THANK YOU */

#thanks-div-1 {
    margin-top: 200px;
}

#thanks-div-3 {
    
}

#thanks-div-1 > div > div > p {

}

#thanks-div-2 > div > div > p, #thanks-div-3 > div > div > p {

}

/* WISH LIST */
#wish-list-content {
    min-height: 550px;
}


/* ************* */
/* MEDIA QUERIES */
/* ************* */


/* SCREEN SIZE BELOW 1080px - Just for Newsletter section in footer */

@media screen and (max-width: 1400px) {
    
    #div-for-newsletter-form-message {
        margin-top: -10px;
        padding-top: 0;
    }

}


/* SCREEN SIZE BELOW 992px */

@media screen and (max-width: 991px) {

    /* GENERAL */

    body {
        height: calc(80vh - 80px);
    }

    /* FOOTER */

    footer {
        height: 380px;
        position: relative;
    }
    
    /* HOME PAGE */

    .carousel-inner {
        position: fixed;
        top: calc(100vh - 500px);
    }
    
    .carousel-indicators {
        position: absolute;
        top: calc(100vh - 380px);
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        position: fixed;
        top: calc(100vh - 490px);
    }

    /* BAG */

    .bottom-marging-for-large-screens {
        margin-bottom: 0;
    }


    /* PRODUCTS */

    .go-to-top-button {
        bottom: 25px;
    }

    /* PROFILE */
    #profile-and-history-container {
        padding-bottom: 0;
    }

    /* CONTACT */
    #contact-form-container {
        padding-bottom: 0;
    }

}


/* SCREEN SIZE BELOW 782px */
/* To avoid size of icons, when logged in, to
increase the height of the header */

@media screen and (max-width: 782px) {

    /* GENERAL */
    #topnav > div.col-12.col-md-6.col-lg-5.my-auto.py-1.py-md-0 > ul {
        font-size: 90%;
    }

}


/* SCREEN SIZE BELOW 768px */

@media screen and (max-width: 767px) {

    /* GENERAL */

    body {
        height: calc(80vh - 80px);
    }

    #topnav > div.col-12.col-md-6.col-lg-5.my-auto.py-1.py-md-0 > ul {
        font-size: 100%;
    }

    /* ALLAUTH FORMS AND PAGES */

    #id_email, #id_email2, #id_username,
    #id_password1, #id_password2,
    #id_login, #id_password {
        width: 200%;
    }

    /* HEADER */

    .header-container {
        padding-top: calc(80px + 36.8px);
    }


    /* FOOTER */

    #div-for-contact-link-in-footer {
        padding-top: 10px;
    }

    footer {
        height: 397px;
    }

    #div-for-privacy-link-in-footer, #div-for-cookies-link-in-footer {
        margin-top: 0;
        padding-top: 0;
    }
    
    #div-for-sign-up-for-newsletter-form-1 {
        position: absolute;
        bottom: 40px;
    }

    #div-for-newsletter-in-footer > div > div > div.col-12.col-sm-12.col-md-12.col-lg-12.ml-lg-0.pl-lg-0 > p {
        padding-top: 55px;
    }

    #div-for-newsletter-form-message {
        margin-top: 14px;
    }

    /* CONTACT */

    #div_id_email {
        width: 50%;
    }

}


/* SCREEN SIZE BELOW 704px, JUST FOR NEWSLETTER TITLE/MESSAGE */
@media screen and (max-width: 703px) {

    #div-for-newsletter-form-message {
        margin-top: 0;
    }

}


/* SCREEN SIZE BELOW 575px */

@media screen and (max-width: 575px) {

    /* HEADER */

    .last-news > h5 {
        font-size: 80%;
        margin-bottom: 0;
        padding-top: 4px;
    }

    /* BODY */

    #carouselExampleIndicators {
        height: 450px;
    }

    #carouselExampleIndicators > a.carousel-control-prev,
    #carouselExampleIndicators > a.carousel-control-next {
        color: red;
        height: 400px;;
    }
    

    /* CHECKOUT */

    .small-font-size {
        font-size: 75%;
    }

    /* FOOTER */

    footer {
        height: 830px;
        position: relative;
    }

    #div-for-sign-up-for-newsletter-form-1 {
        position: static;
        bottom: 22px;
    }

    #div-for-newsletter-in-footer > div > div > div.col-12.col-sm-12.col-md-12.col-lg-12.ml-lg-0.pl-lg-0 > p {
        padding-top: 0;
        text-align: center;
    }

    /* HOME */

    .carousel-inner {
        position: relative;
    }
    
    .carousel-indicators {
        position: relative;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        position: relative;
        top: calc(100vh - 510px);
    }

}


/* SCREEN SIZE BELOW 460px */

@media screen and (max-width: 460px) {

    /* HEADER */
    /* TOP BANNER */

    #banner-div > div > h5 {
        padding-top: 2px;
        font-size: 105%;
    }

    /* Multiply width by the amount of messages to simulate
    they are one "behind" each other, in a row.
    In small screen sizes, add extra width (here 100%) to avoid
    reducing the font size too much */
    #banner-div {
        width: 400%;
    }

    /* Equivalent of marquee tag for HTML5,
    https://stackoverflow.com/questions/53632338/what-is-the-equivalent-of-marquee-tag-in-html5;
    accessed on March 16th, 2022, at 3:20.
    Here just changing the translate on top to the previous width (400%)*/
    
    @keyframes slide {
        100% {transform: translate(-400%);}
        0% {transform: translate(100%);}
    }

    /* CONTACT */

    #send-contact-form-button,
    #go-to-home-contact-form-button {
        width: 100%!important;
    }

}


/* HEIGHT RESPONSIVENESS FOR LARGE SCREENS */

@media screen and (min-height: 700px) {

    /* ALLAUTH */

    #allauth-email-confirm,
    #allauth-email,
    #allauth-login,
    #allauth-logout,
    #allauth-password-change,
    #allauth-password-reset-from-key,
    #allauth-password-reset,
    #allauth-password-set,
    #signup_form {
        margin-bottom: 400px;
    }

    /* THANK YOU */

    #thanks-div-3,
    #shopping-bag-content {
        margin-bottom: 275px;
    }

}

@media screen and (min-height: 900px) {

    /* ALLAUTH */

    #allauth-email-confirm,
    #allauth-email,
    #allauth-login,
    #allauth-logout,
    #allauth-password-change,
    #allauth-password-reset-from-key,
    #allauth-password-reset,
    #allauth-password-set,
    #signup_form {
        margin-bottom: 500px;
    }

    /* THANK YOU */

    #thanks-div-3,
    #shopping-bag-content {
        margin-bottom: 475px;
    }

}

@media screen and (min-height: 1200px) {
    
    /* FOOTER */

    footer {
        /*position: static;*/
    }

    /* ALLAUTH */

    #contact-form-container > form > fieldset,
    #allauth-email-confirm,
    #allauth-email,
    #allauth-login,
    #allauth-logout,
    #allauth-password-change,
    #allauth-password-reset-from-key,
    #allauth-password-reset,
    #allauth-password-set,
    #signup_form {
        padding-bottom: 600px;
    }

    /* THANK YOU AND BAG */

    #thanks-div-3,
    #shopping-bag-content {
        margin-bottom: 700px;
    }

    /* WISH LIST */
    #wish-list-content,
    #shopping-bag-content {
    min-height: 1250px;
}

}