/*
CSS File for the GDEC (Geophysical Data E-Commerce) project, payment process
Code Institute - Milestone Project 5
*/

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */


/* PROFILE */

#profile-update-form .form-control {
    color: black
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 450px; /* profile form + submit button heights */
    overflow-y: auto;
}
