<!-- Copied and modified from Code Institute "Boutique Ado" project on March 1st, 2022, at 13:32 -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Country</a>
                <a href="" class="dropdown-item ">By Type</a>
                <a href="" class="dropdown-item ">By Date</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="dems-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DEMs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dems-link">
                <a href="" class="dropdown-item">High Resolution</a>
                <a href="" class="dropdown-item">Medium Resolution</a>
                <a href="" class="dropdown-item">Low Resolution</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="gravimetry-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gravimetry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gravimetry-link">
                <a href="" class="dropdown-item">High Resolution</a>
                <a href="" class="dropdown-item">Medium Resolution</a>
                <a href="" class="dropdown-item">Low Resolution</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="resistivity-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resistivity
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="resistivity-link">
                <a href="" class="dropdown-item">High Resolution</a>
                <a href="" class="dropdown-item">Medium Resolution</a>
                <a href="" class="dropdown-item">Low Resolution</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="magnetometry-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Magnetometry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="magnetometry-link">
                <a href="" class="dropdown-item">High Resolution</a>
                <a href="" class="dropdown-item">Medium Resolution</a>
                <a href="" class="dropdown-item">Low Resolution</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-2" href="#" id="last-arrivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Last Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="last-arrivals-link">
                <a href="" class="dropdown-item">DEMs</a>
                <a href="" class="dropdown-item">Gravimetry</a>
                <a href="" class="dropdown-item">Resistivity</a>
                <a href="" class="dropdown-item">Magnetometry</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>