{% extends "base.html" %}
{% load static %}

<!-- Do not include bag_tools as app, Igor from Code Insitute, on Slack, checked on March 16th, 2022, at 2:28 -->
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Page background -->
<div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col dark-blue-font  mt-5 mt-md-4">
                <!-- Page Title -->
                <h2 class="mb-4">Wish List</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <!-- Wish List Items -->
            <div id="wish-list-content" class="col bottom-marging-for-large-screens">
            {% if products_in_wish_orders %}
                <div class="table-responsive rounded mb-5">
                    <!-- Products table, repeat rows and but show only one of them based on screen size -->
                    <table class="table table-sm table-borderless dark-blue-font">                   
                        {% for item in products_in_wish_orders %}
                            <!-- Table for medium size (and larger) screens -->
                            <!-- Product details -->
                            <tr class="d-none d-md-table-row">
                                <!-- Product details -->
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Subtotal</th>
                                <th scope="col"></th>
                            </tr>
                            <tr class="d-none d-md-table-row">
                                <td class="p-3 w-25">
                                    <!-- Assign image to product or default "no-image" in database -->
                                    {% if item.product.image_name %}
                                    <a href="{{ item.product.image_name.url }}" target="blank">
                                        <img class="img-fluid rounded bag-image" src="{{ item.product.image_name.url }}" alt="{{ item.product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.PNG" alt="{{ item.product.name }}">
                                    </a>
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <!-- Include resolution if applicable -->
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </a>
                                    <p class="my-0 resolution-in-wish-list_{{ item.product.id }}">Resolution: {% if item.product.resolution %}{{ item.product_resolution|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p></p>
                                    {% if item.product.id in products_to_label_in_wish_list %}
                                        <p class="text-info"><strong>Buy it again!</strong></p>
                                    {% endif %}                          
                                </td>
                                <td class="py-3 text-center">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <form id="form-wish-list-large-screen" class="form update-form-wish-list" method="POST">
                                {% csrf_token %}
                                <td class="py-3 quantity-control-width text-center">
                                    <!-- Update wish list if requested -->                                    
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-primary rounded-0"
                                                        data-item_id="{{ item.product.id }}" id="wish_decrement-qty_{{ item.product.id }}_{{ item.product_resolution }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product_resolution %}
                                                    <input type="hidden" name="product_resolution" value="{{ item.product_resolution }}">
                                                {% endif %}
                                                <input class="form-control form-control-sm qty_input text-center" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.product.id }}"
                                                    id="id_qty_{{ item.product.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-primary rounded-0"
                                                        data-item_id="{{ item.product.id }}" id="wish_increment-qty_{{ item.product.id }}_{{ item.product_resolution }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>                                                
                                            </div>
                                        </div>                                   
                                        <a class="update-link-wish-list text-info w-100 text-center float-right" id="update-from-wish-list-large-screen_{{ item.product.id }}"><small>Update Quantity</small></a>
                                        <a class="remove-item-wish-list text-danger w-100 text-center float-right" id="remove-from-wish-list-large-screen_{{ item.product.id }}" data-product_resolution="{{ item.resolution }}"><small>Remove Product</small></a>
                                </td>
                                <td class="py-3 text-center">
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <div class="">
                                        <button type="submit" formaction="{% url 'add_to_bag' item.product.id %}" class="btn btn-primary rounded-0 text-uppercase w-100">Add to Bag</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </td>
                                </form>
                            
                            </tr>
                            <!-- Table for small size screens -->
                            <tr class="d-table-row d-md-none">
                                <!-- Product details -->
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Subtotal</th>
                            </tr>
                            <tr class="d-table-row d-md-none">
                                <td class="p-3 w-50" colspan="2">
                                    <!-- Assign image to product or default "no-image" in database -->
                                    {% if item.product.image_name %}
                                    <img class="img-fluid rounded bag-image" src="{{ item.product.image_name.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.PNG" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3 w-50" colspan="2">
                                    <!-- Include resolution if applicable -->
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0">Resolution: {% if item.product.resolution %}{{ item.product_resolution|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3" rowspan="2">
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                            <form id="form-wish-list-small-screen" class="form update-form-wish-list" method="POST">
                                {% csrf_token %}
                            <tr class="d-table-row d-md-none">
                                <td class="py-3 w-25" colspan="2">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                
                                <td class="py-3 w-75" colspan="2">
                                    <!-- Update wish list if requested -->
                                    
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-primary rounded-0"
                                                        data-item_id="{{ item.product.id }}" id="wish_decrement-qty_{{ item.product.id }}_{{ item.product_resolution }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input text-center" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.product.id }}"
                                                    id="id_qty_{{ item.product.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-primary rounded-0"
                                                        data-item_id="{{ item.product.id }}" id="wish_increment-qty_{{ item.product.id }}_{{ item.product_resolution }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.resolution %}
                                                    <input type="hidden" name="product_resolution" value="{{ item.product_resolution }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    
                                    <a class="update-link-wish-list text-info w-100 text-center float-right" id="update-from-wish-list-small-screen_{{ item.product.id }}"><small>Update Quantity</small></a>
                                    <a class="remove-item-wish-list text-danger w-100 text-center float-right" id="remove-from-wish-list-small-screen_{{ item.product.id }}" data-product_resolution="{{ item.resolution }}"><small>Remove Product</small></a>
                                </td>
                            </tr>
                            <tr class="d-table-row d-md-none">
                                <td class="py-3 text-center" colspan="6">
                                        <button type="submit" formaction="{% url 'add_to_bag' item.product.id %}" class="btn btn-primary rounded-0 text-uppercase w-75">Add to Bag</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <hr>  
                                </td>                                
                            </tr>
                        </form>
                        
                        {% endfor %}                        
                        
                        <tr class="pb-5">
                            <!-- Buttons to check out or keep shopping -->
                            <td colspan="6" class="text-right pb-5">
                                <a href="{% url 'products' %}" class="btn btn-outline-primary rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'view_bag' %}" class="btn btn-primary rounded-0 btn-lg">
                                    <span class="text-uppercase">View Bag</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <!-- Inform the user if there are no items in the wish list -->
                <p class="lead mb-5 dark-blue-font">Your wish list is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-primary rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<!-- Font Awesome Script / Kit
Link created on March 1st, 2022, 03:29 from Font Awesome personal account -->
<script src="https://kit.fontawesome.com/80e4621b26.js" crossorigin="anonymous"></script>
<!-- This page javascript file -->
<script>var csrfToken = "{{ csrf_token }}";</script>
<script src="{% static 'js/quantity_incr_decr.js' %}"></script>
<script src="{% static 'js/show_messages.js' %}"></script>
{% endblock %}

