<!-- Started from Bootstrap starter template: https://getbootstrap.com/docs/4.4/getting-started/introduction/, copied on March 1st, 2020, at 00:10, and later modified. -->
{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge"><!-- From Code Institute "Project - Boutique Ado", copie on February 28th, 2022, at 23:59 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>GDEC {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top bg-light">
            <div id="topnav" class="row d-none pt-sm-2 d-md-flex">
                <div class="col-12 col-md-4 col-lg-4 my-auto py-1 py-lg-0 text-center text-md-left">
                    <a href="{% url 'home' %}" class="nav-link">
                        <!-- Font Awesome Icon as logo -->
                        <h2 class="logo-front my-0"><i class="fa fa-paw" aria-hidden="true"></i><strong> GDEC</strong></h2>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-4 my-auto py-1 py-md-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border-primary rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn border-primary rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search text-primary"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-4 col-lg-4 my-auto py-1 py-md-0">
                    <ul class="list-inline list-unstyled text-center text-md-right my-0">
                        <li class="list-inline-item dropdown pr-lg-0">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <!-- Font Awesome Icon -->
                                    <div><i class="fa fa-user fa-lg" aria-hidden="true"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item my-auto py-1 pl-md-0">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <!-- Font Awesome Icon -->
                                    <div><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-md navbar-light w-100">
                    <button class="navbar-toggler mt-0 px-0 py-1" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/cell-phone-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <div id="discount-banner" class="row text-center text-white">
                <div class="col-12 bg-danger">
                    <!-- Use of marquee tag, https://www.w3schools.in/html-tutorial/marquee-tag/, accessed on March 16th, 2022, at 2:45.
                    Equivalent of marquee tag for HTML5, https://stackoverflow.com/questions/53632338/what-is-the-equivalent-of-marquee-tag-in-html5;
                    accessed on March 16th, 2022, at 3:20. -->
                    <div class="col-12 bg-danger my-0 holder">
                        <div class="my-auto last-news"><h5>Discount of 10% for orders over ${{ discount_threshold }}!</h5></div>                
                    </div>          
                </div>            
            </div>
        </header>
                
        {% if messages %}
            <div class="message-container">         
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}
        
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="container-fluid bg-light">            
        {% include 'includes/footer.html' %}
        </footer>

       
        {% block postloadjs %}
        {{ block.super }}
        
        <!-- Font Awesome Script / Kit
        Link created on March 1st, 2022, 03:29 from Font Awesome personal account -->
        <script src="https://kit.fontawesome.com/80e4621b26.js" crossorigin="anonymous"></script>
        <!-- This page javascript file -->
        <script src="{% static 'js/quantity_incr_decr.js' %}"></script>
        <script src="{% static 'js/show_messages.js' %}"></script>
        
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        
        {% endblock %}

  </body>
</html>