<!-- Structure based on Code Institute "Boutique Ado" project -->
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Page background -->
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 text-center text-md-left offset-lg-2">
                <div class="image-container my-5">
                    <!-- Page for select product -->
                    {% if product.image_name %}
                        <a href="{{ product.image_name.url }}" target="blank">
                            <img class="card-img-top products-card" src="{{ product.image_name.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top products-card img-fluid" src="{{ MEDIA_URL }}noimage.PNG" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product details -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container text-center text-md-left mb-5 mt-md-5 dark-blue-font">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5.00</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                       <small class="ml-3">
                           <a href="{% url 'edit_product' product.id %}">Edit</a>
                           <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                       </small>
                    {% endif %}
                    <p class="mt-3 dark-blue-font">{{ product.description }}</p>
                    <form id="add-product-form" class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.resolution as resol %}
                            {% if resol %}
                                <div class="col-12 dark-blue-font">
                                    <p><strong>Resolution:</strong></p>
                                    <select class="form-control rounded-0 w-50 m-auto m-md-0" name="product_resolution" id='id_product_resolution'>
                                        <option value="high" selected>High</option>
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50 m-auto m-md-0">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty-prod-det btn btn-primary rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span hidden>
                                                    Decrement Button
                                                </span>
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-center" type="number"
                                            name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <label for="id_qty_{{ product.id }}" hidden>Quantity</label>
                                        <div class="input-group-append">
                                            <button class="increment-qty-prod-det btn btn-primary rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span hidden>
                                                    Increment Button
                                                </span>
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Links to other pages based on user authentication -->
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-primary rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase btn-outline-primary">Keep Shopping</span>
                                </a>
                                <input id="keep-shoppint-in-product-details" type="submit" class="btn btn-primary rounded-0 text-uppercase mt-5 w-50" value="Add to Bag">
                                <label for="keep-shoppint-in-product-details" hidden>Keep Shopping</label>
                            </div>
                            <input id="redirect-url-in-product-details_{{ product.id }}" type="hidden" name="redirect_url" value="{{ request.path }}">
                            <label for="redirect-url-in-product-details_{{ product.id }}" hidden>Redirect URL</label>
                            {% endwith %}
                        </div>
                        {% if request.user.is_authenticated %}
                        <div>
                            <a href="{% url 'view_wish_list' %}" class="btn btn-outline-primary rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase btn-outline-primary">View Wish List</span>
                            </a>
                            <a href="" id="send-to-wish-list-button" class="btn btn-info rounded-0 text-uppercase mt-5 w-50"><span class="text-uppercase text-light btn-outline-primary">Add to Wish List</span></a>
                        </div>
                        {% else %}
                        <p class="font-weight-bold mt-4 mb-4">Log in to view your wish list <span><a href="{% url 'account_login' %}" class="btn btn-primary rounded-0">Log In</a></span></p>
                        {% endif %}
                    </form>                    
                </div>
            </div>
            <!-- Reviews -->
            <div class="col-12 col-md-6 offset-md-3 bottom-marging-for-large-screens">
                <div>
                    <h4 class="font-weight-bold dark-blue-font mt-4 text-left text-md-center">Product Reviews</h4>
                    <hr>
                </div>
                <div>                                        
                    <div>
                        <!-- Comments 
                        To add a comment feature:
                        copied and modified (except computation of product rating) 
                        from https://djangocentral.com/creating-comments-system-with-django/,
                        Abhijeet Pal, Author and Editor in Chief @djangocentral,
                        on April 12th, 2022.                        
                        -->                           
                        {% for comment in comments %}
                            <div class="dark-blue-font">
                                <p class="text-primary">Comment by <strong class="font-weight-bold">{{ comment.user }}</strong> on                                
                                <span class="font-weight-normal">
                                {{ comment.created_on }}
                                </span>
                                </p>
                                <p><small class="text-muted"><i class="fas fa-star mr-1"></i>{{ comment.product_rating_value }} / 5</small></p>
                                {{ comment.body | linebreaks }}
                            </div>
                            {% if request.user.is_superuser %}
                                <div>
                                    <small class="ml-3">
                                        <a class="text-danger" href="{% url 'delete_product_review' product.id comment.id %}">Delete Comment</a>                                        
                                    </small>
                                </div>
                            {% endif %}
                            <hr>
                        {% endfor %}                        
                    </div>  
                    <div>           
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is waiting approval
                            </div>
                        {% else %} 
                            {% if request.user.is_authenticated %}
                                {% if user_has_commented %}
                                <p class="font-weight-bold dark-blue-font">Product already commented</p>
                                {% else %}
                                <button class="btn btn-primary rounded-0 text-uppercase mt-1 mb-4" type="submit" id="comment-form-button">Leave a Comment</button>
                                <form id="comment-form" class="dark-blue-font" method="POST" action="{% url 'product_review' product.id %}">
                                    {% csrf_token %}
                                    {{ comment_form | crispy }}
                                    <button class="btn btn-primary rounded-0 text-uppercase mb-4" type="submit">Comment</button>
                                </form>
                                {% endif %}
                            {% else %}
                            <p class="font-weight-bold dark-blue-font mb-4">Log in to comment <span><a href="{% url 'account_login' %}" class="btn btn-primary rounded-0">Log In</a></span></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Font Awesome Script / Kit
Link created on March 1st, 2022, 03:29 from Font Awesome personal account -->
<script src="https://kit.fontawesome.com/80e4621b26.js" crossorigin="anonymous"></script>
<!-- This page javascript file -->
<script>var csrfToken = "{{ csrf_token }}";</script>
<script src="{% static 'js/product_details.js' %}"></script>
{% endblock %}